package components 

templ head(host string, pageTitle string) {
<head>
    <title>{ pageTitle }</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{ host }/static/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="{ host }/static/js/htmx.min.js"></script>
</head>
}
