{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
    {{ template "head" . }}
    <body>
        <div>
            <header>
                <nav class="dashboard--navigation"></nav>
            </header>
            <div class="dashboard--content-container">
                <aside>
                    <nav>
                        <ul>
                            <li><a href="/admin/pages">Pages</a></li>
                        </ul>
                    </nav>
                </aside>
                <main>
                    {{ template "dashboard" }}
                </main>
                {{ .DoAction "action" }}
            </div>
        </div>
    </body>
</html>
{{ end }}
